<!DOCTYPE html>
<head>
    {% include head_offline.html %}
    {% if page.datatable == true %}
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function(){

            $('table.datatable').DataTable( {
                        paging: false,
                        stateSave: true
                    }
            );
    </script>
    {% endif %}
</head>
<body>

<div class="container">
    <div class="col-lg-12">&nbsp;</div>
    <!-- Content Row -->
    <div class="row">
    <!-- Content Column -->
    <div class="col-md-9">
	<div class="post-header">
   <h1 class="post-title-main">{% if page.homepage == true %} {{site.homepage_title}} {% else %}{{ page.title }}{% endif %}</h1>
</div>

<div class="post-content">

   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}

    {% unless page.toc == false %}
    {% include toc.html %}
    {% endunless %}
</div>
        {{content}}
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
    </div>
</body>
</html>